page-home {
    .swiper-container{
		
		height:200px;
		min-height:200px;
		
}

ion-slides {
    height: 200px;
 }

 h4 {
    font-size : 15px;
 
 }

 .center{
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    display: block !important;
  }

  .center2{
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    display: block !important;
  }

  

}